body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dark-blue {
  background-color: #213252;
}

.bg-light-grey {
  background-color: #F0F2F5;
}
